@page "/managestudents"
@inject ManageStudentsViewModel manageStudentsViewModel


<label class="h2 py-3">Students</label>
<EditForm class="input-group" Model="@Student" OnValidSubmit="AddStudent">
    <label class="input-group-text">Student Name</label>
    <InputText class="form-control" @bind-Value="Student.Name" />

    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>

<ul class="list-group py-lg-1">
    @foreach (var student in manageStudentsViewModel.Students)
    {
        <li class="list-group-item">@student.Name</li>
    }
</ul>

@code {
    public Student Student { get; set; } = new();

    public void AddStudent()
    {
        manageStudentsViewModel.AddStudent(Student);
        Student = new();

        manageStudentsViewModel.CommitChanges();

        InvokeAsync(StateHasChanged);
    }
}
