@page "/managestudents"
@inject ManageStudentsViewModel manageStudentsViewModel

<h3>Manage Students</h3>

<label>Add new Student</label>
<EditForm Model="@Student" OnValidSubmit="AddStudent">
    <label>Student Name</label>
    <InputText @bind-Value="Student.Name" />

    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>

<label>Students</label>
<div>
    @foreach (var student in manageStudentsViewModel.Students)
    {
        <span>@student.Name</span>
    }
</div>

@code {
    public Student Student { get; set; } = new();

    public void AddStudent()
    {
        manageStudentsViewModel.AddStudent(Student);
        Student = new();

        manageStudentsViewModel.CommitChanges();

        InvokeAsync(StateHasChanged);
    }
}
